@import "tailwindcss";

@font-face {
  font-family: 'MICR E13B';
  src: url('./assets/fonts/MICRE13B.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

html,
body,
#root {
  margin: 0;
  padding: 0;
  min-height: 100%;
  width: 100%;
}

body {
  min-width: 320px;
  background: #07111f;
  font-family: Arial, sans-serif;
}
